/* .table-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
} */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    height: 80%;
    text-align: center;
}

.link {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.link:hover {
    text-decoration: underline;
}

.invalid-id {
    display: block;
    cursor: pointer;
    text-decoration: none;
    color: red;
}